@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    font-size: inherit;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: center;
    background: whitesmoke;
    padding: 1rem 0;
}

li {
    margin-right: 5rem;
    list-style: none;
}
li a {
    text-decoration: none;
    font-size: 1.5rem;
    transition: .3s;
}

.container {
    width: 60%;
    margin: 3rem auto;
}

.container h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.container .thumb{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid rgb(51, 35, 35);
}

button {
    display: none;
}

.active {
    left: 0!important;
}

#close {
    display: none;
}

@media (min-width: 481px) and (max-width: 767px) {
  
    ul {
        display: inline-block;
        background: whitesmoke;
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        padding: 1rem 1.5rem;
        transition: .3s ease-in-out;
    }

    li {
        margin: 0 auto
    }

    button {
        display: block;
        margin: 1rem 2rem;
        padding: .5rem 1rem;;
    }
    
    #close {
        display: inline;
        cursor: pointer;
    }
  }