@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    font-size: inherit;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: center;
    background: whitesmoke;
    padding: 1rem 0;
}

li {
    margin-right: 5rem;
    list-style: none;
}
li a {
    text-decoration: none;
    font-size: 1.5rem;
    transition: .3s;
}
