@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    background: darkslategray;
    padding: 1rem 2rem;
    text-align: center;
    color: whitesmoke;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    height: 85vh;
}

main nav {
    width: 25%;
    background: wheat;
    padding: 1.5rem 2rem;
}

main nav li {
    list-style: none;
}

main nav li a {
    text-decoration: none;
    font-size: 1.1rem;
}

main article {
    padding: 1rem 2rem;
    background: whitesmoke;
}

footer {
    width: 100vw;
    text-align: center;
    display: grid;
    place-items: center;
    background: teal;
    height: 5vh;
}